:root{

   /* colors */
   --blue-color: #2596be;
   --dark-blue-color: #2c3e50;
   --pink-color: #cd313b;
   --white-color: #FFF;

   --border : 1px solid rgba(0,0,0,.5);
   --box-shadow: .5rem .5rem 0 rgba(37, 150, 190, .7);
}

*{
   font-family: 'Poppins' ,'Bahnschrift', sans-serif;
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
   outline: none;
   transition: all .2s ease-out;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-padding-top: 7rem;
   scroll-behavior: smooth;
}


body{
   background-color: var(--dark-blue-color);
}

section{
   display: flex;
   justify-content: center;
   align-content: center;
}

section form{
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 2rem 3rem;
   border-radius: .7rem;
   width: 45rem;
   margin-top: 4rem;
   box-shadow: var(--box-shadow);
}

section form input{
   padding: .7rem;
   border: var(--border);
   border-radius: .7rem;
   margin: 1rem 0;
   font-size: 1.7rem;
   font-weight: 500;
   color: var(--dark-blue-color);
}

section form h1{
   text-align: center;
   padding: 1rem;
   color: var(--dark-blue-color);
   font-size: 2.5rem;
   border-bottom: 1px solid var(--dark-blue-color);
   margin-bottom: 2rem;
}

section form button{
   padding: 1rem;
   font-size: 1.7rem;
   border-radius: .7rem;
   margin: 1rem 0 0;
   border: none;
   background-color: var(--pink-color);
   color: var(--white-color);
   font-size: 2rem;
   cursor: pointer;
}

section form .error{
   color: var(--pink-color);
   font-size: 1.7rem;
   font-weight: 500;
   text-align: center;
}